// App main colours e.g. Main comp backgrounds, buttons, etc.
$primary-dark: #1C4E80;
$primary-medium: #0091D5;
$primary-light: #A5D8DD;

// App secondary colours e.g. Container backgrounds, fonts, etc.
$secondary-dark: #202020;
$secondary-medium: #7E909A;
$secondary-light: #F1F1F1;

// App alternavite colours to create contrast e.g. error/important messages
$alternative-contrast: #EA6A47;
$alternative-error: #FF0000;