@import "../../assets/scss/colours.scss";

.container {
  width: 100vw;
  height: 100vh;

  .child-container {
    padding: 50px 10px 0 10px;
    background-color: $secondary-light;
    min-width: 1000px;
  }
}
